<% include partials/header %>

<div class="container">
    <div class="page-nav">
        <h2>Új termék felvétele</h2>
        <a href="/products">
            <i class="fas fa-arrow-left"></i> Vissza</a>
    </div>
    <div class="content">
        <form method="POST">
            <div class="form-group">
                <label for="productName">Termék megnevezése</label>
                <input value="<%= product.name !== 'undefined' ? product.name : '' %>" type="text" class="form-control" id="productName" name="name" placeholder="pl. Apple Iphone 8">
            </div>
            <div class="form-group">
                <label for="imageUrl">Kép URL</label>
                <input value="<%= product.imageUrl !== 'undefined' ? product.imageUrl : '' %>" type="text" class="form-control" id="imageUrl" name="imageUrl">
            </div>
            <div class="form-group">
                <label for="unitPrice">Egységár</label>
                <input value="<%= product.unitPrice !== 'undefined' ? product.unitPrice : '' %>" type="number" class="form-control" id="unitPrice" placeholder="Ft" name="unitPrice">
            </div>
            <button type="submit" class="btn btn-success">Mentés</button>
        </form>
    </div>

</div>

<% include partials/footer %>